@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900);

.video-container
{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

    .video-container iframe,
    .video-container object,
    .video-container embed
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

body
{
    font-family: 'Titillium Web', sans-serif;
    color: #394054;
    font-weight: 400;
}

a
{
    font-family: 'Titillium Web', sans-serif;
    -webkit-font-smoothing: antialiased;
}

div.content
{
    overflow: hidden;
}

h1, .h1
{
    Font: Titillium Web;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    line-height: 48px;
    Color: #394054;
    Background: #FFFFFF;
}

h2, .h2
{
    Font: Titillium Web;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    line-height: 38px;
    Color: #394054;
    Background: #FFFFFF;
}



h3, .h3
{
    color: #fff;
    font-size: 20px;
}


h4, .h4
{
    color: #999999;
    font-size: 20px;
    font-weight: normal;
}


h5, .h5
{
    color: #FFF;
    font-size: 20px;
}

header
{
    min-height: 100%;
}

    header .navbar-default
    {
        /*background: none;
        border: none;*/
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

        header .navbar-default ul.navbar-nav
        {
            padding-top: 0px;
        }

            header .navbar-default ul.navbar-nav li a
            {
                text-transform: uppercase;
                font-weight: 400;
                font-size: 16px;
                padding: 7px 20px;
                -webkit-transition: all 0.25s ease-in-out;
                -moz-transition: all 0.25s ease-in-out;
                -ms-transition: all 0.25s ease-in-out;
                -o-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
            }

                header .navbar-default ul.navbar-nav li a:after
                {
                    content: '';
                    width: 32px;
                    background: none;
                    height: 4px;
                    position: absolute;
                    bottom: 2px;
                    z-index: 99999;
                    left: 20px;
                    -webkit-border-radius: 5em;
                    -moz-border-radius: 5em;
                    -ms-border-radius: 5em;
                    -o-border-radius: 5em;
                    border-radius: 5em;
                    color: #394054;
                    -webkit-transition: all 0.25s ease-in-out;
                    -moz-transition: all 0.25s ease-in-out;
                    -ms-transition: all 0.25s ease-in-out;
                    -o-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;
                }

                header .navbar-default ul.navbar-nav li a:hover
                {
                    -webkit-transition: all 0.25s ease-in-out;
                    -moz-transition: all 0.25s ease-in-out;
                    -ms-transition: all 0.25s ease-in-out;
                    -o-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;
                }

                    header .navbar-default ul.navbar-nav li a:hover:after
                    {
                        background: #00A1E0;
                    }

                header .navbar-default ul.navbar-nav li a.getApp
                {
                    -webkit-border-radius: 5em;
                    -moz-border-radius: 5em;
                    -ms-border-radius: 5em;
                    -o-border-radius: 5em;
                    border-radius: 5em;
                    -webkit-transition: all 0.25s ease-in-out;
                    -moz-transition: all 0.25s ease-in-out;
                    -ms-transition: all 0.25s ease-in-out;
                    -o-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;
                }

                    header .navbar-default ul.navbar-nav li a.getApp:after
                    {
                        display: none;
                    }

        header .navbar-default .navbar-brand
        {
            height: auto;
            padding: 0;
        }

        header .navbar-default.scrolled
        {
            background: #394054;
            -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
            padding: 0;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -ms-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
        }

            header .navbar-default.scrolled .navbar-brand
            {
                padding: 15px 20px;
            }

                header .navbar-default.scrolled .navbar-brand img
                {
                    width: auto;
                    max-height: 33px;
                }

            header .navbar-default.scrolled ul.navbar-nav
            {
                padding-top: 15px;
            }

    header .header-content
    {
        position: absolute;
        width: 100%;
        padding: 480px 15px;
        text-align: center;
        z-index: 2;
    }

        header .header-content .inner h1
        {
            margin-top: 0;
            margin-bottom: 0;
        }


.cursive
{
    font-family: 'Dancing Script', cursive;
    text-transform: none;
    color: #00A1E0;
}

.tp-banner-container
{
    background: url("../img/bg_callcentre.jpg");
}


#video-background
{
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

    #video-background.collapsing
    {
        display: none;
    }



.scrollpoint
{
    opacity: 0;
}

    .scrollpoint.active
    {
        opacity: 1 \0;
    }

.hanging-phone
{
    position: absolute;
    right: 0;
    z-index: 0;
    bottom: -70px;
}

.section-heading
{
    margin: 60px 0 80px;
    text-align: center;
}

    .section-heading h1
    {
        display: inline-block;
        margin-bottom: 0;
        background: none;
    }

    .section-heading p
    {
        font-size: 25px;
        color: #999999;
        font-weight: 300;
    }

        .section-heading p.login
        {
            color: #fff;
        }

    .section-heading h1.login
    {
        color: #fff;
    }

    .section-heading .divider:after
    {
        content: "";
        position: relative;
        height: 4px;
        width: 60px;
        display: block;
        text-align: center;
        margin: 13px auto;
        -webkit-border-radius: 5em;
        -moz-border-radius: 5em;
        -ms-border-radius: 5em;
        -o-border-radius: 5em;
        border-radius: 5em;
    }

    .section-heading.inverse h1,
    .section-heading.inverse p
    {
        color: #ffffff;
    }

    .section-heading.inverse .divider:after
    {
        background: #ffffff;
    }

section#products
{
    position: relative;
}

    section#products .products-item
    {
        font-size: 17px;
        line-height: 38px;
        color: #999999;
    }



    section#products h3
    {
        color: #00A1E0;
        text-transform:uppercase;
    }

.bottom
{
    margin-bottom: 20px;
}



section#comments
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    section#comments .review-filtering
    {
        margin: 20px 0 100px 0;
    }

        section#comments .review-filtering .review .review-person
        {
            width: 100%;
        }

            section#comments .review-filtering .review .review-person img
            {
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;
                margin: 10px auto;
                background: #fff;
            }

        section#comments .review-filtering .review .review-comment
        {
            /*width: 100%;*/
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;
            padding: 5px 40px 20px;
            position: relative;
        }

            section#comments .review-filtering .review .review-comment h3
            {
                margin-bottom: 15px;
                font-weight: normal;
            }

            section#comments .review-filtering .review .review-comment p
            {
                font-size: 16px;
                color: #999999;
            }

section#recommentsviews .review-filtering .review .review-comment p span
{
    margin-left: 10px;
}

section#comments .review-filtering .review .review-comment:after
{
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-width: 15px;
    margin-top: -10px;
}

section#comments .review-filtering .review .review-person,
section#comments .review-filtering .review .review-comment
{
    float: left;
}

section#comments .review-filtering .slick-dots
{
    bottom: -80px;
}

    section#comments .review-filtering .slick-dots li button
    {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }

        section#comments .review-filtering .slick-dots li button:before
        {
            display: none;
        }



section#partner .slider
{
    margin: 50px 0;
}

    section#partner .slider div img
    {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
        padding: 10px;
        display: inline;
    }

    section#partner .slider div h4
    {
        text-align: center;
        margin-top: 40px;
        font-size: 16px;
    }

    section#partner .slider .slick-dots li button
    {
        -webkit-border-radius: 5em;
        -moz-border-radius: 5em;
        -ms-border-radius: 5em;
        -o-border-radius: 5em;
        border-radius: 5em;
    }

section#partner .slick-prev,
section#partner .slick-next
{
    width: 50px;
    height: 50px;
    top: 44%;
}

section#partner .slick-slide
{
    text-align: center;
}

section#partner .slick-prev:before
{
    content: "\f104";
}

section#partner .slick-next:before
{
    content: "\f105";
}

section#partner .slick-prev:before,
section#partner .slick-next:before
{
    font-size: 34px;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
    line-height: 38px;
    color: #CCC;
    border: 2px solid #CCC;
    width: 50px;
    display: inline-block;
    height: 50px;
    text-align: center;
}

section#partner .filter
{
    text-align: center;
}

    section#partner .filter a
    {
        display: inline-block;
        padding: 7px 20px;
        text-decoration: none;
        -webkit-border-radius: 5em;
        -moz-border-radius: 5em;
        -ms-border-radius: 5em;
        -o-border-radius: 5em;
        border-radius: 5em;
        margin: 10px 5px;
        text-transform: uppercase;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

section#partner h3
{
    color: #00A1E0;
}

/* demo video Section */
section#demo .video-container
{
    padding: 20px;
    border: 1px solid #b3b3b3;
    min-height: 450px;
    overflow: hidden;
}

section#demo iframe
{
    width: 100%;
    height: 100%;
    border: none;
}


/* footer section */
footer
{
    padding: 80px 0;
    text-align: center;
}

    footer a > img
    {
        width: 100px;
    }

    footer .social
    {
        display: block;
        margin-top: 30px;
    }

        footer .social a
        {
            margin: 0 8px;
            padding: 15px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            display: inline-block;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -ms-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
        }

            footer .social a i
            {
                width: 1em;
            }

    footer .rights
    {
        margin-top: 30px;
    }

        footer .rights a
        {
            text-decoration: underline;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -ms-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            font-weight: bold;
        }

            footer .rights a:hover
            {
                text-decoration: none;
            }

section
{
    position: relative;
    padding-bottom: 90px;
}
    /* Common style for pseudo-elements */
    section::before,
    section::after
    {
        position: absolute;
        content: '';
        pointer-events: none;
        overflow: hidden;
    }

.carousel-fade .carousel-inner .item
{
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active
{
    opacity: 1;
}

    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right
    {
        left: 0;
        opacity: 0;
        z-index: 1;
    }

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right
{
    opacity: 1;
}

.carousel-fade .carousel-control
{
    z-index: 2;
}

.tp-caption
{
    font-family: 'Titillium Web', sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

    .tp-caption.large_white_bold
    {
        color: #ffffff;
        font-size: 65px;
        font-weight: 400;
    }

    .tp-caption.large_white_light
    {
        color: #ffffff;
        font-size: 65px;
        font-weight: 400;
        font-weight: 300;
    }

.btn
{
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
    border-radius: 3em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 5px 25px;
}

    .btn.btn-primary
    {
        border: 2px solid #ffffff;
        background: none;
        color: #ffffff;
    }

        .btn.btn-primary:hover
        {
            color: #ffffff;
        }


        .btn.btn-primary.try
        {
            color: #ffffff;
            border-color: #394054;
            background: #394054;
            text-transform: uppercase;
        }

            .btn.btn-primary.try:hover
            {
                background: #00D95A;
                border-color: #00D95A;
            }

        .btn.btn-primary.demo
        {
            color: #ffffff;
            border-color: #00A1E0;
            background: #00A1E0;
            text-transform: uppercase;
            height: 50px;
        }

            .btn.btn-primary.demo:hover
            {
                background: #394054;
                border-color: #394054;
            }

    .btn.btn-lg
    {
        padding: 10px 25px;
    }

    .btn:hover
    {
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

form .form-control
{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
    height: 40px;
    line-height: 38px;
    padding: 10px;
    color: #4d4d4d;
    border: 2px solid #cccccc;
    font-weight: 300;
    width: 95%;
}

form textarea.form-control
{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    height: auto;
    line-height: normal;
}

.input-group .form-control
{
    height: 50px;
}


@media screen and (max-width: 640px)
{
    .logo
    {
        width: 100px;
        height: auto;
    }

    .slick-next
    {
        right: 0;
    }

    .slick-prev
    {
        left: 0;
    }

    .contact-details
    {
        margin-top: 20px;
    }

    header .navbar-default
    {
        padding: 20px;
    }

        header .navbar-default .navbar-toggle
        {
            margin-top: 0px;
            margin-right: 0px;
            background: none;
            border: 2px solid #394054;
            color: #394054;
            -webkit-border-radius: 5em;
            -moz-border-radius: 5em;
            -ms-border-radius: 5em;
            -o-border-radius: 5em;
            border-radius: 5em;
        }

            header .navbar-default .navbar-toggle:hover,
            header .navbar-default .navbar-toggle:focus
            {
                background: none;
            }

        header .navbar-default ul.navbar-nav
        {
            padding-top: 0;
            margin: 0;
        }

            header .navbar-default ul.navbar-nav li a
            {
                padding: 10px;
                text-align: center;
            }

                header .navbar-default ul.navbar-nav li a.getApp
                {
                    background: none !important;
                    -webkit-border-radius: 0em;
                    -moz-border-radius: 0em;
                    -ms-border-radius: 0em;
                    -o-border-radius: 0em;
                    border-radius: 0em;
                }

        header .navbar-default .navbar-collapse
        {
            border-color: transparent;
        }

        header .navbar-default.scrolled .navbar-collapse
        {
            border-color: transparent;
        }

        header .navbar-default.scrolled ul.navbar-nav
        {
            padding-top: 0;
            margin: 0;
        }

        header .navbar-default.scrolled .navbar-toggle
        {
            margin-top: 11px;
            margin-right: 20px;
            background: none;
            border: 2px solid #ffffff;
            color: #ffffff;
            -webkit-border-radius: 5em;
            -moz-border-radius: 5em;
            -ms-border-radius: 5em;
            -o-border-radius: 5em;
            border-radius: 5em;
        }
}

header
{
    background: #394054;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #394054 0%, #394054 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #394054), color-stop(100%, #394054));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #394054 0%, #394054 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #394054 0%, #394054 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #394054 0%, #394054 100%);
    /* IE10+ */
    background: linear-gradient(-45deg, #394054 0%, #394054 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#394054, endColorstr=#394054, GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

    header .navbar-default ul.navbar-nav li a
    {
        color: #394054;
        background: none;
        text-transform: uppercase;
    }

        header .navbar-default ul.navbar-nav li a.getApp
        {
            color: #fff;
            background-color: #00A1E0;
        }

            header .navbar-default ul.navbar-nav li a.getApp:hover
            {
                color: #fff;
                background-color: #00D95A;
                -webkit-transition: all 0.25s ease-in-out;
                -moz-transition: all 0.25s ease-in-out;
                -ms-transition: all 0.25s ease-in-out;
                -o-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
            }

        header .navbar-default ul.navbar-nav li a:hover
        {
            color: #394054;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -ms-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
        }

    header .navbar-default.scrolled
    {
        border-bottom: 3px solid #fff;
    }

        header .navbar-default.scrolled ul.navbar-nav li a
        {
            color: #fff;
        }

            header .navbar-default.scrolled ul.navbar-nav li a:hover
            {
                color: #fff;
            }

                header .navbar-default.scrolled ul.navbar-nav li a:hover:after
                {
                    background: #00A1E0;
                }

        header .navbar-default.scrolled .navbar-brand
        {
            background: #fff;
        }




section .section-heading .divider:after
{
    background: #00A1E0;
}


section#products .products-item h3
{
    color: #00A1E0;
}

section#products .slider
{
    margin: 50px 0;
}

    section#products .slider div img
    {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
        padding: 10px;
        display: inline;
    }

    section#products .slider div h4
    {
        text-align: center;
        margin-top: 40px;
        font-size: 16px;
    }

    section#products .slider .slick-dots li button
    {
        -webkit-border-radius: 5em;
        -moz-border-radius: 5em;
        -ms-border-radius: 5em;
        -o-border-radius: 5em;
        border-radius: 5em;
    }



section#products .filter
{
    text-align: center;
}

    section#products .filter a
    {
        background: #394054;
        color: #fff;
        display: inline-block;
        padding: 7px 20px;
        text-decoration: none;
        -webkit-border-radius: 5em;
        -moz-border-radius: 5em;
        -ms-border-radius: 5em;
        -o-border-radius: 5em;
        border-radius: 5em;
        margin: 10px 5px;
        text-transform: uppercase;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

section#products .integration
{
    border: 1px solid;
    border-radius: 4px;
    padding: 13px;
    border-color: #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: #f6f5fb;
}

/*SECTION PRICING*/

section#pricing
{
    background-color: #00A1E0;
}

    section#pricing header h1:after
    {
        background: #fff;
    }


    section#pricing .media
    {
        color: #fff;
    }


        section#pricing .media.active .media-heading
        {
            color: #394054;
        }

    section#pricing .divider:after
    {
        background: #ffffff;
    }

    section#pricing .section-heading p
    {
        color: #ffffff;
    }

    section#pricing .communit
    {
        box-shadow: 0 0 10px #000;
        border-radius: 10px;
    }




section#comments
{
    background-color: #00A1E0;
}

    section#comments header
    {
        color: #ffffff;
    }

        section#comments header h1:after
        {
            background: #ffffff;
        }

    section#comments .review-filtering .review .review-person img
    {
        border: 3px solid #ffffff;
    }

    section#comments .review-filtering .review .review-comment
    {
        background: #ffffff;
    }

        section#comments .review-filtering .review .review-comment h3
        {
            color: #394054;
        }

        section#comments .review-filtering .review .review-comment p span i
        {
            color: #394054;
        }

        section#comments .review-filtering .review .review-comment:after
        {
            border-right-color: #ffffff;
        }

    section#comments .review-filtering .slick-dots li button
    {
        background: #ffffff;
        border: 2px solid #ffffff;
    }

    section#comments .review-filtering .slick-dots li.slick-active button
    {
        background: #394054;
    }



/*Portifolio*/


#blog .blog-item
{
    margin: 0 0 15px;
    right: 0;
}

    #blog .blog-item .blog-link
    {
        display: block;
        position: relative;
        max-width: 400px;
        margin: 0 auto;
    }

        #blog .blog-item .blog-link .blog-hover
        {
            background: rgba(255,255,255,0.5);
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all ease .5s;
            -webkit-transition: all ease .5s;
            -moz-transition: all ease .5s;
        }

            #blog .blog-item .blog-link .blog-hover:hover
            {
                opacity: 1;
            }

            #blog .blog-item .blog-link .blog-hover .blog-hover-content
            {
                position: absolute;
                width: 100%;
                height: 20px;
                font-size: 20px;
                text-align: center;
                top: 50%;
                margin-top: -12px;
                color: #fff;
            }

                #blog .blog-item .blog-link .blog-hover .blog-hover-content i
                {
                    margin-top: -12px;
                }

                #blog .blog-item .blog-link .blog-hover .blog-hover-content h3, #blog .blog-item .blog-link .blog-hover .blog-hover-content h4
                {
                    margin: 0;
                }

    #blog .blog-item .blog-caption
    {
        max-width: 400px;
        margin: 0 auto;
        background-color: #fff;
        text-align: center;
        padding: 25px;
    }

        #blog .blog-item .blog-caption h4
        {
            text-transform: none;
            margin: 0;
        }

        #blog .blog-item .blog-caption p
        {
            font-style: italic;
            font-size: 16px;
            margin: 0;
        }

#blog *
{
    z-index: 2;
}

section#blog .divider:after
{
    background: #ffffff;
}

section#blog .section-heading p
{
    color: #ffffff;
}



.bg-light-gray
{
    background-color: #00A1E0;
}





/* footer section */
footer
{
    background: #fff;
}


    footer .menu_bottom
    {
        float: right;
        display: block;
    }

    footer .social a
    {
        border: 2px solid #394054;
    }

        footer .social a i
        {
            color: #394054;
        }

        footer .social a:hover
        {
            background: #ffffff;
        }

            footer .social a:hover i
            {
                color: #00A1E0;
            }

    footer .rights
    {
        color: #394054;
    }

        footer .rights a
        {
            color: #00A1E0;
            font-weight: 300;
            text-decoration: none;
        }

footer .marginBottom
{
    margin-bottom: 40px;
}

.navbar-toggle
{
    background-color: #CCC;
    border: 1px solid rgba(0, 0, 0, 0);
}

.btn.btn-primary
{
    color: #00A1E0;
    border-color: #00A1E0;
}

    .btn.btn-primary:hover
    {
        color: #ffffff;
        background: #00A1E0;
        border-color: #00A1E0;
    }

    .btn.btn-primary.inverse
    {
        color: #ffffff;
        border-color: #ffffff;
    }

        .btn.btn-primary.inverse:hover
        {
            color: #ffffff;
            background: #394054;
            border-color: #394054;
        }


.btn.btn-default
{
    background: none;
    border: solid 1px #00A1E0;
    border-radius: 2px;
    color: #00A1E0;
    font-size: 18px;
}

    .btn.btn-default:hover
    {
        /*color: #00A1E0;*/
    }

    .btn.btn-default scrolled
    {
        padding: 0;
    }



form .form-control:focus
{
    border-color: #00A1E0;
    color: #999999;
}

@media screen and (max-width: 640px)
{
    header .navbar-default .navbar-toggle:hover,
    header .navbar-default .navbar-toggle:focus
    {
        background: none;
    }

    header .navbar-default ul.navbar-nav li a
    {
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
    }

        header .navbar-default ul.navbar-nav li a.getApp
        {
            color: #ffffff;
        }

        header .navbar-default ul.navbar-nav li a:after
        {
            display: none;
        }

        header .navbar-default ul.navbar-nav li a:hover
        {
            color: #00A1E0;
        }

    header .navbar-default .navbar-collapse
    {
        background: #394054;
    }

    header .navbar-default.scrolled
    {
        background: #394054;
    }

        header .navbar-default.scrolled ul.navbar-nav li a
        {
            color: #ffffff;
        }

            header .navbar-default.scrolled ul.navbar-nav li a:hover
            {
                color: #00A1E0;
            }
}


.pre-loader
{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    display: block;
    background: #394054;
}

    .pre-loader .load-con
    {
        margin: 20% auto;
        position: relative;
        text-align: center;
    }

.spinner
{
    margin: 50px auto 0;
    width: 70px;
    text-align: center;
}

    .spinner > div
    {
        width: 18px;
        height: 18px;
        background-color: #ffffff;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        /* Prevent first frame from flickering when animation starts */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .spinner .bounce1
    {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2
    {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

@-webkit-keyframes bouncedelay
{
    0%, 80%, 100%
    {
        -webkit-transform: scale(0);
    }

    40%
    {
        -webkit-transform: scale(1);
    }
}

@keyframes bouncedelay
{
    0%, 80%, 100%
    {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    40%
    {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.fone
{
    float: right;
    /* position: relative; */
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 219px;
    font-size: 18px;
}
